.header-content{
    min-height: 35vh;
    background: linear-gradient(rgba(141, 39, 174, 0.3), rgba(162, 40, 202, 0.192)), url("../../images/milky-way.jpg") center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}